@section Scripts
{
    <script src="~/js/Custom.js" asp-append-version="true"></script>
}


<div  class="mainBackground" align="center">
    <h1 style="font-size: 500%"> The Team</h1>
        
    <div class="mySlides">
        <div class="ProfilBackground" id="Robert">

            <h3 style="text-align: center">Robert</h3>
            <p>
                <span class="Image">
                    <img class="Prof" src="/Images/pic.jpg"/>
                </span>
                Name: Robert Van Hmun
                <br/>
                Age: 22
                <br/>
                Hobby: Football
                <br/>
                Task: Front-end and Design
            </p>
        </div>
    </div>
    <div class="mySlides">
        <div class="ProfilBackground">

            <h3 style="text-align: center">Mads</h3>
            <p>
                <span class="Image">
                    <img class="Prof" src="/Images/Mads.jpg"/>
                </span>
                Name: Mad Andreas Hanssen
                <br/>
                Age: 24
                <br/>
                Hobby: Food
                <br/>
                Task: Back-end 
            </p>
        </div>
    </div>    
    <div class="mySlides">
        <div class="ProfilBackground">

            <h3 style="text-align: center">Tor Arne</h3>
            <p>
                <span class="Image">
                    <img class="Prof"/>
                </span>
                Name: Tor Arne Skoddeland
                <br/>
                Age: 22
                <br/>
                Hobby: Video games
                <br/>
                Task: Back-end and helper
            </p>
        </div>
    </div>    
    <div class="mySlides">
        <div class="ProfilBackground">

            <h3 style="text-align: center">Matthew</h3>
            <p>
                <span class="Image">
                    <img class="Prof" src="/Images/Matthew.jpg"/>
                </span>
                Name: Matthew Ling
                <br/>
                Age: 20
                <br/>
                Hobby: Sleep and workout
                <br/>
                Task: Front-end
            </p>
        </div>
    </div>  
    <div class="mySlides">
        <div class="ProfilBackground">

            <h3 style="text-align: center">Gisle</h3>
            <p>
                <span class="Image">
                    <img class="Prof" src="/Images/Gisle.jpg"/>
                </span>
                Name: Gisle Tarhavn
                <br/>
                Age: 27
                <br/>
                Hobby: Meditation
                <br/>
                Task: Front-end and handyman
            </p>
        </div>
    </div>  

    <button class="prev" onclick="plusSlides(-1)">&#10094;</button>
    <button class="next" onclick="plusSlides(1)">&#10095;</button>
</div>
<br/>
<div>
<div class="Text">
    <h1 style="text-align: center"> About us</h1>
    <p>
        The team consist of 4 members, Tor Arne, Mads, Matthew, Robert and Gisle.     
        We are studying computer engineering in University of Agder in Grimstad. 
        This is a .NET project we made from the course dat219. <br/>
        
        This is not the first time the four of us have worked together in a project. 
        Last year 2018 in winter we made a bomberman game in C++ called Bomber Royale. 
        Mads, Matthew and Robert were the first to gather from a project in microprocessor and a Java project. 
        They worked on a paint program in Java together which was a complete disaster. 
        Before the project in C++ the three of them needed more members in order to fulfill the requirements for the project.
        Mads found Tor Arne in the computer lab and asked if he would join us which he said yes to, and later on Gisle joined.
    </p>
    <h4>Tor Arne</h4>
    <p>
        Most of our projects consist of Tor Arne being the project leader and the advisor to the other members when they get stuck.  
        He is definitely the most skilled among us in programming and has a unique leadership. He works mostly on the backend of the projects.
        In this projects, he built the ground work and set up the server and the website. He was also responsible for the auto-generating.
    </p>
    <h4>Mads</h4>
    <p>
        Mads is the second backend worker on this project. He is a smart and finds smart ways to solve difficult problems. 
        When it comes to algorithms, he is the guy you want to talk to. 
        If there is a logical problem, he will definitely want to take a look at it.
        In this project he worked on Feide API, where Feide users could login via Feide to our start page.
    </p>
    <h4>Robert</h4>
    <p>
        Robert is the designer of the project, he has a keen ability to make things look great for the users and in general.
        The webpages needs to look user friendly and have to be easy to use, and that's what Robert does. 
        In this project he designed the front pages, as well as the other pages.
    </p>
    <h4>Matthew</h4>
    <p>
        Matthew works on front end with Robert in this project. 
        He is documentary of the group, if you need someone to start a report writing, he is the guy.
        In this project, he worked with Fullcalendar API integration, as well as tasks.
    </p>
    <h4>Gisle</h4>
    <p>
        Gisle is the handyman, you can tell him to do something and he will as long as it is within reason
        or with a purpose for the project.
        He takes care of the small, but necessary things.
        In this project, he worked with the settings of the pages.
    </p>
</div>
</div>